<body>
    <div class="background"></div>

    <section class="contato container" data-anime="1200">
        <form id="form-contato" #f="ngForm" (ngSubmit)="onSubmit(f)" class="grid-10" [@popOverState]>
            <label for="nome">Nome</label>
            <input type="text" name="Fullname" id="nome" required [(ngModel)]="usuario.nome" #nome="ngModel">

            <div *ngIf="!nome.valid && nome.touched">Nome é obrigatório</div>

            <label for="mail">E-mail</label>
            <input type="email" name="Email" id="email" required [(ngModel)]="usuario.email" email #email="ngModel">
            <div *ngIf="!email.valid && email.touched">Email em branco ou inválido</div>

            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" required [(ngModel)]="usuario.telefone" #telefone="ngModel">
            <div *ngIf="!telefone.valid && telefone.touched">Telefone é obrigatório</div>

            <label for="espec">Mensagem</label>
            <textarea name="Comment" id="mensagem" cols="30" rows="10" [(ngModel)]="usuario.mensagem"></textarea>

            <button class="btn btn-preto" type="submit" [disabled]="!f.valid && f.touched">Enviar</button>
            <div *ngIf="!f.valid && f.touched">Preencha todos os campos obrigatórios</div>
        </form>

        <div class="contato-dados grid-6" [@popOverState]>
            <h3>Outras formas de contato</h3>
            <span>81 99513-9730</span>
            <span>milenascast.arq@gmail.com</span>
            <span>Recife - PE / Brasil</span>

        </div>
    </section>
</body>