<body>
    <div class="background"></div>
    <section class="missao-sobre container" *ngIf="sobre">
        <div class="grid-10" [@popOverState]>
            <h2 class="subtitulo-interno">{{sobre.fields.titulo}}</h2>
            <p>{{sobre.fields.descricaoDeTexto}}
            </p>
            <p>{{sobre.fields.fraseFinal}}</p>
        </div>
        <div class="grid-6" [@popOverState]>
            <img src="{{sobre.fields.imagemSobre.fields.file.url}}" alt="Foto de equipe Milena Figueiroa Arquitetura">
        </div>
    </section>
</body>