<body>
    <div class="background"></div>
    <section class="missao-sobre container">
        <div class="grid-10">
            <h2 class="subtitulo-interno  fadeInDown" data-anime="400">História</h2>
            <p data-anime="800" class="fadeInDown">Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim
                do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável
                origem
            </p>
            <p data-anime="800" class="fadeInDown">Lorem Ipsum vem das seções 1.10.32 e 1.10.33 do "de Finibus Bonorum et Malorum"</p>
        </div>
        <div class="grid-6 fadeInDown" data-anime="400">
            <img src="../../assets/imagens/foto_sobre.jpg" alt="Foto Milena Arquiteta">
        </div>
    </section>
</body>
