<body>
    <div class="background"></div>
    <section class="introducao-interna" [@popOverState]>
        <div class="">
            <h1> Projetos</h1>
            <p>
                Conheça todos os nossos projetos
            </p>
        </div>
    </section>
    <section>
        <div class="projeto-item container" [@popOverState] *ngIf="projeto">
            <div class="grid-11">
                <img src="{{projeto.fields.primeiraImagem.fields.file.url}}" alt="Primeira Imagem projeto {{projeto.fields.titulo}}">
                <h2>{{projeto.fields.titulo}}</h2>
            </div>
            <div class="grid-5 projeto-icone">
                <img src="{{projeto.fields.segundaImagem.fields.file.url}}" alt="Segunda Imagem projeto {{projeto.fields.titulo}}">
            </div>
            <div class="grid-8">
                <img src="{{projeto.fields.terceiraImagem.fields.file.url}}" alt="Terceira Imagem projeto {{projeto.fields.titulo}}">
            </div>
            <div class="grid-8 projeto-info">
                <p>{{projeto.fields.textoExplicacao}}</p>
                <ul>
                    <li>{{projeto.fields.palavraChave2}}</li>
                    <li>{{projeto.fields.palavraChave2}}</li>
                    <li>{{projeto.fields.palavraChave3}}</li>
                    <li>{{projeto.fields.palavraChave4}}</li>
                </ul>
            </div>
        </div>

        <button (click)="showMore()" *ngIf="!otherProjects" class="button_show">Mostre mais</button>
        <div *ngIf="otherProjects">
            <div class="projeto-item container" [@popOverState] *ngFor="let projeto of projetos">
                <div class="grid-11">
                    <img src="{{projeto.fields.primeiraImagem.fields.file.url}}" alt="Primeira Imagem projeto {{projeto.fields.titulo}}">
                    <h2>{{projeto.fields.titulo}}</h2>
                </div>
                <div class="grid-5 projeto-icone">
                    <img src="{{projeto.fields.segundaImagem.fields.file.url}}" alt="Segunda Imagem projeto {{projeto.fields.titulo}}">
                </div>
                <div class="grid-8">
                    <img src="{{projeto.fields.terceiraImagem.fields.file.url}}" alt="Terceira Imagem projeto {{projeto.fields.titulo}}">
                </div>
                <div class="grid-8 projeto-info">
                    <p>{{projeto.fields.textoExplicacao}}</p>
                    <ul>
                        <li>{{projeto.fields.palavraChave2}}</li>
                        <li>{{projeto.fields.palavraChave2}}</li>
                        <li>{{projeto.fields.palavraChave3}}</li>
                        <li>{{projeto.fields.palavraChave4}}</li>
                    </ul>
                </div>
            </div>
            <button (click)="showLess()" *ngIf="otherProjects" class="button_show">Mostre menos</button>
        </div>

    </section>
</body>
