<body>
    <div class="background"></div>
    <section class="introducao-interna interna-produtos" [@popOverState]>
        <div class="">
            <h1> Projetos</h1>
            <p>
                Conheça todos os nossos projetos
            </p>
        </div>
    </section>
    <section class="container">
        <div class="projeto-item" [@popOverState]>
            <div class="grid-11">
                <img src="../../assets/imagens/projetos/modelo1.png" alt="Imagem projeto quarto">
                <h2>Passeio</h2>
            </div>
            <div class="grid-5 projeto-icone">
                <img src="../../assets/imagens/projetos/modelo3.png" alt="Imagem projeto quarto 2">
            </div>
            <div class="grid-8">
                <img src="../../assets/imagens/projetos/modelo2.png" alt="Imagem projeto quarto 3">
            </div>
            <div class="grid-8 projeto-info">
                <p>Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.</p>
                <ul>
                    <li>Conforto</li>
                    <li>Praticidade</li>
                    <li>Design</li>
                    <li>Versatilidade</li>
                </ul>
            </div>
        </div>

        <div class="projeto-item" [@popOverState]>
            <div class="grid-11">
                <img src="../../assets/imagens/projetos/modelo1.png" alt="Imagem projeto quarto">
                <h2>Passeio</h2>
            </div>
            <div class="grid-5 projeto-icone">
                <img src="../../assets/imagens/projetos/modelo3.png" alt="Imagem projeto quarto 2">
            </div>
            <div class="grid-8">
                <img src="../../assets/imagens/projetos/modelo2.png" alt="Imagem projeto quarto 3">
            </div>
            <div class="grid-8 projeto-info">
                <p>Muito melhor do que passear pela orla a vidros fechados. A Bikcraft Passeio é uma bicicleta que une conforto e praticidade para o seu dia a dia. Você nunca mais vai querer saber de outra.</p>
                <ul>
                    <li>Conforto</li>
                    <li>Praticidade</li>
                    <li>Design</li>
                    <li>Versatilidade</li>
                </ul>
            </div>
        </div>
    </section>
</body>