/*------------HEADER------------*/

body {
    font-family: 'Poppins', Helvetica, sans-serif;
}

p {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

img {
    display: block;
    max-width: 100%;
}

.logomarca {
    width: 220px;
    height: 100px;
    margin: -20px 0px;
    display: block;
}

.logo {
    float: left;
}

.menu {
    padding: 10px 0;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
}

.menu li a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

.background {
    position: relative;
    left: 0%;
    width: 100%;
    height: max-content;
    padding-top: 40px;
}

.menu li a img {
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;
}

.menu li a img:hover {
    border: none;
}

@media only screen and (max-width: 787px) {
    .logomarca {
        margin: 0 auto;
    }
    /*Header*/
    .menu {
        position: relative;
        padding-bottom: 10px;
    }
    .menu img {
        margin: 0 auto 10px auto;
    }
    .menu {
        text-align: center;
    }
    .menu li {
        margin: 5px 5px 10px 5px;
    }
    .menu li a {
        width: 136px;
        display: block;
        float: left;
        border: none;
    }
    .menu li a img {
        border: none;
    }
    .menu li a:hover {
        padding-bottom: 3px;
        text-decoration: underline;
        border: none;
    }
    .menu li a img:hover {
        border: none;
        text-decoration: none;
    }
}