<body class="background">
    <header class="container">
        <a href="" class="logo grid-1">
            <i class="logomarca "></i>
        </a>
        <div>
            <ul class="menu grid-15">
                <li>
                    <a href="index">Home</a>
                </li>
                <li>
                    <a href="projetos">Projetos</a>
                </li>
                <li>
                    <a href="sobre">Sobre</a>
                </li>
                <li>
                    <a href="contato">Contato</a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/mcast.arq/"><img src="../../assets/imagens/redes-sociais/icon-instagram.svg " alt="Icone do instagram "></a>
                </li>
                <li>
                    <a target="_blank" href="https://wa.me/5581995139730?text=Ol%C3%A1+Milena%2C+visitei+seu+site+e+gostaria+de+solicitar+um+or%C3%A7amento&app_absent=0"><img src="../../assets/imagens/redes-sociais/whatsapp.svg " alt="Icone do Whatsapp"></a>
                </li>
            </ul>
        </div>
    </header>
    <div>
        <ng-content></ng-content>
    </div>
</body>