.background {
    z-index: -1;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    animation: animate 15s ease-in-out 0.03s infinite;
    background-size: cover;
    background-position: center;
}

section {
    height: 100vh;
}

@media screen and (min-width: 788px) and (max-width: 979px) {
    section {
        height: 100vh;
    }
}

@media screen and (max-width: 787px) {
    .background {
        animation: animateMobile 15s ease-in-out 0.03s infinite;
    }
}